*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	/* --hsl */
	--color_black_19: hsla(0, 0%, 19%, 1);
}
body {
	max-width: 1920px;
	margin: auto;
}
.global_container {
	display: grid;
	/* grid-template-columns: auto auto; */
	/* grid-template-rows: repeat(5, auto); */
	padding-inline: 4.5rem;
	grid-template-areas:
		"header"
		"run_1"
		"main"
		"run_2"
		"footer";
	border: 5px solid hsl(0 50% 50% / 0.7);
}
