.running_line {
	height: 60px;
	background: hsla(7, 91%, 58%, 1);
	color: white;
	font-family: Merriweather;
	font-size: 22px;
	font-weight: 400;
	line-height: 24.2px;
	line-height: 60px;
	marquee {
		background: hsla(7, 91%, 58%, 1);
		p {
			white-space: nowrap;
			display: inline-block;
		}
		img {
			display: inline-block;
			vertical-align: middle;
			margin-inline: 1rem;
		}
	}
}
