.header {
	height: 700px;
	margin: auto;
	background-color: hsla(31, 32%, 86%, 1);
	background-image: url(../../assets/images/image\ 23.png);
	background-blend-mode: color-burn;
}
.header_container {
	max-width: 1623px;
	margin: auto;
	display: grid;
	grid-template-areas:
		"row1 row1"
		"nav nav"
		"content images";
	grid-template-areas:
		"row1 images"
		"nav images"
		"content images";
	grid-template-rows: 26px auto 1fr;
	/* grid-auto-columns: max-content 1fr; */
	/* grid-auto-columns: 44% 56%; */
	grid-template-columns: 44% 56%;
}
.header_content__images {
	position: relative;
	flex: 1 0 100%;
	grid-area: images;

	.sun {
		width: 777px;
		height: 675px;
		background: url(../../assets/images/header_images/text_on_yellow_circle.png),
			url(../../assets/images/header_images/yellow_circle.png);
		background-repeat: no-repeat no-repeat;
		background-position: 50% 50%, 50% 0%;
		background-blend-mode: overlay, multiply;
		mix-blend-mode: multiply;
	}
}

.header_content__text {
	width: 552px;
	grid-area: content;
	padding-block-start: 62px;
	justify-self: end;

	h1 {
		text-transform: uppercase;
		font-family: Merriweather;
		font-size: 60px;
		font-weight: 400;
		line-height: 66px;
		span:nth-child(1) {
			left: 91px;
			position: relative;
		}
		span:nth-child(2) {
			text-align: right;
			display: inline-block;
			width: 100%;
		}
	}
	p {
		font-family: Golos Text;
		font-size: 18px;
		font-weight: 400;
		line-height: 23.4px;
		text-align: center;
		margin-block-start: 24px;
		margin-block-end: 40px;
	}
	.main_buttons {
		display: flex;
		justify-content: space-between;
		button {
			width: 263px;
			height: 72px;
			padding: 20px;
			border-radius: 66px;
			appearance: none;
			border: 0;
			text-align: center;
			font-family: Golos Text;
			font-size: 16px;
			font-weight: 500;
			line-height: 20.8px;

			display: grid;
			align-items: center;
			align-content: center;

			cursor: pointer;
			transition: color 0.3s, background 0.3s;
			z-index: 1;
		}
		button:nth-child(1) {
			color: hsla(0, 0%, 100%, 1);
			background: hsla(0, 0%, 12%, 1);
		}
		button:nth-child(1):hover {
			background: hsla(44, 96%, 65%, 1);
			color: hsla(0, 0%, 12%, 1);
		}

		button:nth-child(2) {
			border: 2px solid hsla(0, 0%, 12%, 1);
			color: hsla(0, 0%, 12%, 1);
			background: none;
		}
		button:nth-child(2):hover {
			background: hsla(0, 0%, 12%, 1);
			color: hsla(0, 0%, 100%, 1);
		}
	}
}

.king {
	position: relative;
	top: -660px;
	left: 100px;
}
.queen {
	position: relative;
	top: -460px;
	left: 470px;
}
.city {
	position: relative;
	top: -937px;
	left: -717px;
}
.knight {
	position: relative;
	top: -1155px;
	left: 240px;
}
.pawn {
	position: relative;
	top: -1297px;
	left: 650px;
}

@media (width < 1366px) {
	.header_container {
		max-width: 1623px;
		margin: auto;
		display: grid;
		grid-template-areas:
			"row1"
			"nav"
			"content"
			"images"
			"images"
			"images";
		grid-template-rows: 26px auto repeat(4, 1fr);
		/* grid-auto-columns: max-content 1fr; */
		/* grid-auto-columns: 44% 56%; */
		/* grid-template-columns: 44% 56%; */
	}
}
