nav {
	display: flex;
	position: relative;
	grid-area: nav;
	justify-self: end;
	width: 552px;
	img {
		margin-inline-end: 2px;
	}
	p {
		margin-inline-start: 4px;
	}
	span {
		display: block;
		font-family: Golos Text;
		font-size: 16.65px;
		font-weight: 700;
		line-height: 17.98px;
		text-align: left;
		text-transform: uppercase;
		color: hsla(28, 3%, 34%, 1);
	}
}
