.main_section_3 {
	/* border: 10px solid hsl(250 50% 50% / 1); */
	/* margin-inline: 52px; */
	display: grid;
	grid-template-columns: 100%;
	gap: 2rem;
	overflow: hidden;
	margin-block-end: 17rem;
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		/* border: 10px solid hsl(50 50% 50% / 1); */
	}
	/* h2, */
	nav {
		display: flex;
		align-items: center;
		/* border: 10px solid hsl(110 50% 50% / 1); */
		button {
			border: none;
			appearance: none;
			background-color: hsla(0, 0%, 19%, 1);
			border-radius: 50%;
			display: grid;
			place-content: center;
			width: 44px;
			height: 44px;
			cursor: pointer;
		}
		button:hover {
			background-color: hsla(44, 96%, 65%, 1);
			transition: background-color 0.2s;
		}
		button:disabled {
			background-color: hsla(0, 0%, 84%, 1);
			cursor: not-allowed;
		}
		span {
			margin-inline: 1rem;
			font-family: Golos Text;
			font-size: 16px;
			font-weight: 400;
			line-height: 19.2px;
			text-align: left;
			color: hsla(0, 0%, 19%, 1);
		}
	}
	h2 {
		font-family: Merriweather;
		font-size: 54px;
		font-weight: 400;
		line-height: 64.8px;
		text-align: left;
		/* margin-block-end: 2rem; */
	}
	ul {
		--quantity: 6;
		--width: 394px;
		position: relative;
		/* border: 10px solid hsl(150 50% 50% / 1); */
		height: 462px;
		/* display: flex; */
		display: grid;
		grid-template-areas: "left_1 left_2 left_3 right_1 right_2 right_3";
		grid-template-columns: repeat(6, 1fr);
		/* width: calc((100vw - 104px) / 2); */
		/* max-width: 100%; */
		/* width: min-content; */
		/* overflow: hidden; */
		/* gap: 10px; */
		/* padding-inline-start: 37px; */
		/* border: 5px solid goldenrod; */
		/* width: 100%; */
		/* min-width: calc(var(--width) * var(--quantity)); */
		/* min-width: calc(394px * var(--quantity)); */
		/* min-width: calc(var(--width) * var(--quantity)); */
		/* width: calc(var(--width) * var(--quantity)); */
		max-width: calc(var(--width) * var(--quantity) / 2);
		/* min-width: calc(var(--width) * var(--quantity)); */
		overflow: hidden;
		margin-inline: auto;
	}

	li {
		/* animation: autoRun 20s linear infinite; */
		/* animation-delay: calc(
			(20s / var(--quantity)) * (var(--position) - 1) - 20s
		) !important; */
		/* border: 5px solid green; */
		/* position: absolute; */
		/* left: 100%; */
		width: 394px;
		/* height: 320px; */
		/* border-radius: 50%; */
		display: grid;
		grid-template-rows: 320px repeat(3, auto);
		justify-items: center;
		gap: 10px;

		span:first-child {
			font-family: Golos Text;
			font-size: 24px;
			font-weight: 600;
			line-height: 28.8px;
			text-align: left;
		}
		span:last-of-type {
			font-family: Golos Text;
			font-size: 20px;
			font-weight: 400;
			line-height: 24px;
			text-align: left;
		}

		button {
			font-family: Golos Text;
			font-size: 16px;
			font-weight: 500;
			line-height: 19.2px;
			text-align: left;
			grid-row: 4/5;
			color: hsla(219, 54%, 41%, 1);
			border-radius: 62px;
			padding: 12px;
			border: 1px solid hsla(219, 54%, 41%, 1);
			background-color: white;
			margin-block-start: 0.9rem;
		}
		button:hover {
			color: white;
			background-color: hsla(219, 54%, 41%, 1);
			border: 1px solid hsla(219, 54%, 41%, 1);
		}
	}
	li::before {
		content: "";
		position: absolute;
		width: 320px;
		height: 320px;
		border-radius: 50%;
		background: url(../../assets/images/main/section_3/Capablanca.png),
			url(../../assets/images/main/section_3/Cooper\ Union\ Stamp\ Paper.jpg);
		background-position-y: 100%, 50%;
		background-repeat: repeat no-repeat;
		background-size: auto, cover;
	}
	li:nth-child(1) {
		/* background: url(../../assets/images/main/section_3/Capablanca.png),
			url(../../assets/images/main/section_3/Cooper\ Union\ Stamp\ Paper.jpg);
		background-position-y: 100%, 50%;
		background-repeat: repeat no-repeat;
		background-size: auto, cover; */
	}
}
ul:first-of-type {
	/* position: relative; */
	/* animation: a1 4s linear infinite; */
}
@keyframes a1 {
	from {
		/* transform: translateX(0%); */
		left: 0%;
	}
	to {
		/* transform: translateX(-100%); */
		left: -100%;
	}
}
ul:last-of-type {
	/* position: relative; */
	/* animation: a2 4s linear infinite; */
}
@keyframes a2 {
	from {
		/* transform: translateX(0%); */
		left: 0%;
	}
	to {
		/* transform: translateX(-100%); */
		left: -100%;
	}
}
.main_section_3__cards {
	/* display: grid; */
	grid-template-columns: 100%;
	/* overflow: hidden; */
	/* animation: a3 4s linear infinite; */
	/* position: relative; */
	/* width: 100%; */
}
@keyframes a3 {
	from {
		/* transform: translateX(0%); */
		left: 0%;
	}
	to {
		/* transform: translateX(-100%); */
		left: -100%;
	}
}

@keyframes autoRun {
	from {
		left: 100%;
	}
	to {
		left: calc(var(--width) * -1);
		/* left: -394px; */
	}
}
ul:hover li {
	/* animation-play-state: paused !important; */
}
.main_section_3__cards {
	ul {
		/* animation: ul_opacity 4s linear infinite; */

		li:nth-child(4) {
			/* animation: li_4 8s linear infinite; */
		}

		li:nth-child(5) {
			/* animation: li_5 8s linear infinite; */
		}

		li:nth-child(6) {
			/* animation: li_6 8s linear infinite; */
		}
	}
}
.ul_animate {
	animation: ul_opacity 4s linear infinite;
}
.li_4_animate {
	animation: li_4 8s linear infinite;
}
.li_5_animate {
	animation: li_5 8s linear infinite;
}
.li_6_animate {
	animation: li_6 8s linear infinite;
}

@keyframes ul_opacity {
	0%,
	40% {
		opacity: 1;
	}
	50% {
		opacity: 0.2;
	}
	60%,
	100% {
		opacity: 1;
		/* grid-area: left_1; */
	}
}
@keyframes li_4 {
	from {
		/* opacity: 1; */
		grid-area: right_1;
	}
	50% {
		/* opacity: 0.8; */
		grid-area: left_1;
	}
	to {
		grid-area: right_1;
		/* opacity: 1; */
		/* grid-area: left_1; */
	}
}
@keyframes li_5 {
	from {
		/* opacity: 1; */
		grid-area: right_2;
	}
	50% {
		/* opacity: 0.8; */
		grid-area: left_2;
	}
	to {
		grid-area: right_2;
		/* opacity: 1; */
		/* grid-area: left_2; */
	}
}
@keyframes li_6 {
	from {
		grid-area: right_3;
		/* opacity: 1; */
	}
	50% {
		/* opacity: 0.8; */
		grid-area: left_3;
	}
	to {
		grid-area: right_3;
		/* opacity: 1; */
		/* grid-area: left_3; */
	}
}
